.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  font-size: 16px;
  @include breakpoint('small') {
    padding-bottom: 5px;
    margin-bottom: 40px;
  }
  a.header-logo {
    font-weight: bold;
    text-transform: uppercase;

    @include breakpoint('small') {
      margin-right: 30px;
    }
  }
}

.menu-wrapper {
  display: flex;
  justify-content: flex-start;
}

.menu-main {
  display: none;
  flex: 0;
  @include breakpoint('small') {
    display: block;
  }
  > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    > li {
      margin-right: 10px;
      > a {
        display: inline-block;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      &.active {
        > a {
          display: inline-block;
          font-weight: bold;
        }
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
#overlay-button {
  padding: 26px 11px;
  z-index: 5;
  cursor: pointer;
  user-select: none;
  right: -11px;
  position: relative;
  transition: opacity .3s ease-in-out;
  display: block;
  @include breakpoint('small') {
    display: none;
  }
  &:hover, &:focus {
      opacity: .7;
  }
  span {
      height: 3px;
      width: 25px;
      border-radius: 2px;
      background-color: #000;
      position: relative;
      display: block;
      transition: all .2s ease-in-out;
      &:before {
        top: -8px;
        visibility: visible;
      }
      &:after {
        top: 8px;
      }
      &:before, &:after {
          height: 3px;
          width: 25px;
          border-radius: 2px;
          background-color: #000;
          position: absolute;
          content: "";
          transition: all .2s ease-in-out;
      }
    }

    &:hover span, &:hover span:before, &:hover span:after {
      background: var(--highlight-color);
    }
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked ~ #overlay {
  visibility: visible;
  
}

input[type=checkbox]:checked ~ #overlay-button {
  &:hover span, span{
    background: transparent;
  }


  span {

    &:before {
      transform: rotate(45deg) translate(7px, 7px);
      opacity: 1;
      top: -10px;
    }
    &:after {
      top: 10px;
      transform: rotate(-45deg) translate(7px, -7px);
    }

    &:before, &:after {
      background-color: #fff;
    }
  }
}

#overlay {
  height: 100vh;
  width: 100vw;
  background: var(--highlight-color);
  z-index: 2;
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  &.active {
    visibility: visible;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: right;
    height: 100vh;
    padding-left: 0;
    list-style-type: none;
    li {
      padding: 6px;

      @include breakpoint('small') {
        padding: 10px;
      }

      a {
        color: #fff;
        text-decoration: none;
        font-size: 1.2em;
        font-weight: bold;
        letter-spacing: 1px;
        font-family: var(--font-family-heading);
        line-height: 1.3;
        position: relative;

        @include breakpoint('small') {
          font-size: 1.4em;
        }

        &::before {
          content: " ";
          width: 0px;
          height: 4px;
          background: #fff;
          position: absolute;
          left: 0;
          bottom: -3px;
          display: block;
          opacity: 0;
          transition: width .3s ease-in-out, opacity .3s ease-in-out;
        }
        &:hover {
          &::before {

            opacity: 1;
            width: 100%;
          }
        }
      }
      &.active {
        a {
          &::after {
            content: '.';
            font-size: 31px;
            line-height: 0;
          }
        }
      }
    }
  }
}

