$pagination-item-size: 20px;
ul.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  li {
    display: inline-block;
    a {
      display: inline-block;
      text-decoration: none;
      padding: 8px;
      color: var(--text-color);
      border-right: none;
      transition: color .3s ease-in-out;
      &:hover {
        color: var(--highlight-color);
      }
    }
    &.active {
      a {
        color: #fff;
        background-color: #000;
        border-radius: 50%;
        height: $pagination-item-size;
        width: $pagination-item-size;
        line-height: $pagination-item-size;
        text-align: center;
        transition: background-color .3s ease-in-out;
        &:hover {
          background-color: var(--highlight-color);
        }
      }
    }
  }
}
