.summary {
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 24px;
  @include breakpoint('small') {
    margin-bottom: 80px;
    font-size: 18px;
    line-height: 26px;
  }
  .summary-date {
    font-weight: bold;
    color: var(--heading-color);
  }
  .summary-title {
    margin: 16px 0 16px 0;
    width: 80%;
    font-size: 24px;
    line-height: 1.3;
    @include breakpoint('small') {
      width: 80%;
      font-size: 52px;
      line-height: 58px;
    }
  }
  .summary-description {
    width: 80%;
  }
  a.summary-tag {
    background: #000; //var(--highlight-color);
    color: #fff;
    padding: 1px 6px;
    display: inline-block;
    font-size: 14px;
  }
}


.summary-project {
  margin-bottom: 30px;
  h2.summary-title {
    margin-bottom: 0px;
    line-height: 1.3;
  }
  .summary-description {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .summary-actions{
    margin-top: 15px;
    a {
      font-size: 22px;
      margin-right: 5px;
      opacity: 1;
      color: #000;
      transition: color .3s ease-in-out;
      &:hover {
        color: var(--highlight-color);
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .summary-tools{
    span {
      font-style: italic;
      &:after {
        content: ",";
      }
      &:last-child {
        &:after {
          content: "";
        }
      }
    }
  }
}
