<div class='header'>
  <div class="menu-wrapper">
    <a class="header-logo" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    <div class="menu-main">
      <ul>
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
              <li class="menu-item-{{ .Name | lower }}{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
                  <a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
              </li>
          {{end}}
          <li><a class="menu-item-contact" href="mailto:sade.smith.dev@gmail.com">Contact</a></li>
      </ul>
    </div>
  </div>

  <input type="checkbox" id="overlay-input" />
  <label for="overlay-input" id="overlay-button" aria-label="toggle menu"><span></span></label>

  <div id="overlay">
    <ul>
      {{ $currentPage := . }}
      <li class="menu-item-home{{ if $currentPage.IsHome }} active{{ end }}"><a href="{{ .Site.BaseURL }}">Home</a></li>
      {{ range .Site.Menus.main }}
          <li class="menu-item-{{ .Name | lower }}{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
              <a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
          </li>
      {{end}}
      <li><a class="menu-item-contact" href="mailto:sade.smith.dev@gmail.com">Contact</a></li>
    </ul>
  </div>
</div>
